h1, h2, h3 {
    margin: 0;
}

h3 {
    color: white;
}

.parallax-old { 
    /* The image used */
    background-image: url("../../assets/images/cup-of-coffee-laptop-office-macbook-89786.jpeg");
  
    /* Set a specific height */
    height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    margin-bottom: 40px;
    font-size: 16pt;
    font-weight: 300;
}

p:last-child {
    margin-bottom: 0;
}

.filler {
    height: 500px;
}