h1, h2, h3 {
    margin: 0;
}

h3 {
    color: white;
}

p {
    margin-bottom: 40px;
    font-size: 16pt;
    font-weight: 300;
}

@media screen and (min-width: 500px) {
    p {
        padding-left: 20%;
        padding-right: 20%;
    }
}

.header-title {
    composes: noselect from "../../index.css";
    margin-top: 40px;
}