span {
  font-size: 5rem;
  font-family: "Consolas", monospace;
  cursor: default;
}

@media screen and (max-width: 720px) {
  span {
    font-size: 4rem;
  }
}

@media screen and (max-width: 500px){
  span {
    font-size: 3rem;
  }
}